@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
li {list-style: none;}

.container {max-width: 1200px; margin: 0 auto;}
#hd {float: left; width: 200px; height: 650px; background-color: rgba(0,0,0,0.2);}
#content {float: left; width: 800px;}
#kv {height: 350px; background-color: rgba(0,0,0,0.3);}
#contents {height: 200px; background-color: rgba(0,0,0,0.5);}

#contents > div {display: flex; float: left; width: 33.3333%; height: 200px;}
#contents .cont1 {background-color: aqua;}
#contents .cont2 {background-color: blue;}
#contents .cont3 {background-color: blueviolet;}

#ft > div {float: left;}
#ft .ft1 {width: 200px; height: 100px; background-color: brown;}
#ft .ft2 {width: 600px; height: 50px; background-color: crimson;}
#ft .ft3 {width: 600px;height: 50px; background-color: red;}